*, *::before, *::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

.background {
    display: flex;
    background-color: gray;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: 520px;
    background: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.solve-container {
    display: flex;
    gap: 10px;
}

.solve-container label {
    font-weight: 550;
    font-size: 1rem;
    font-family: "Arial", sans-serif;
    margin-top: 6px;
}

.solve-container select {
    font-size: 0.9rem;
    width: 80px;
    height: 25px;
    margin-left: 5px;
    border: 1px solid black;
    border-radius: 5px;
    outline-color: #555;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-container label {
    flex: 0 1 80px;
    font-weight: 600;
    font-size: 1.25rem;
    font-family: "Arial", sans-serif;
    margin-top: 6px;
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
}

.input-container input {
    flex: 1;
    border: 1px solid black;
    border-radius: 5px;
    outline-color: #555;
    font-size: 1.25rem;
    text-align: center;
}

.input-container select {
    font-size: 1.25rem;
    width: 80px;
    height: 35px;
    margin-left: 5px;
    border: 1px solid black;
    border-radius: 5px;
    outline-color: #555;
}

.mass-block, .volume-block {
    display: flex;
}

.output-container {
    display: flex;
    flex-direction: column;
}

.output-buttons {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
}

.output-buttons button {
    flex: 1;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 10px;
    background: green;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.output-buttons button[type="reset"] {
    background: #444;
}

.output-buttons button:hover {
    filter: brightness(120%)
}
